{% load i18n wpadmin_menu_tags %}
{% if is_user_allowed %}
    <li class="wp-user-tools wp-menu-top wp-has-submenu wp-menu-not-open{% if is_first %} wp-first-item{% endif %}{% if is_last %} wp-last-item{% endif %}" {% if item.css_styles %}style="{{ item.css_styles }}"{% endif %}>
        <div class="wp-menu-image"><a href="javascript:;"></a></div>
        <a href="javascript:;">
            {% trans 'Welcome,' %} <strong>{% firstof user.get_short_name user %}</strong>.
        </a>
        <div class="wp-submenu">
            <div class="wp-submenu-wrap">
                <ul>
                    <li {% if not item.url %}class="wp-no-url"{% endif %}><a href="{% if item.url %}{{ item.url }}{% else %}javascript:;{% endif%}">{% firstof user.get_full_name user %}</a></li>
                    {% if user.has_usable_password %}
                        <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </li>
{% endif %}