
.wp-menu .wp-menu-top.wp-menu-open>a, .wp-menu .wp-menu-top.wp-menu-open .wp-menu-image a {
    background: #444;
}
.wp-menu .wp-menu-top.wp-menu-open2>a, .wp-menu .wp-menu-top.wp-menu-open2 .wp-menu-image a {
    background: #0074a2;
}
#adminmenu .wp-menu-open>a:after {
    border: none;
}
#adminmenu .wp-menu-open2>a:after {
    border: 8px solid rgba(0,0,0,0);
}
.wp-menu .wp-submenu .wp-submenu-wrap ul li.wp-has-add-url>a:first-child {
    width: auto;
}
.related-lookup {
    width: 0px;
    height: 0px;
}
